.invite-form {
   margin-top: 50px;

  .invite-form-input {
    width: 70%;
    height: 46px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 31.5px;
    color: #666;
    background-color: transparent;
    background-image: none;
    border: 2px solid #666;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-appearance: none;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 85px;
  }

  .invite-form-button {
    height: 46px;
    width: 80px;
    text-align: center;
    border: 1px solid #18BFD6;
    color: #FFF;
    margin: 0 -10px 0 20px;
    padding: 0 28px 0 15px;
    background-image: -moz-linear-gradient(left, #18BFD6 0, #204489 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #18BFD6), color-stop(100%, #204489));
    background-image: -webkit-linear-gradient(left, #18BFD6 0, #204489 100%);
    background-image: -o-linear-gradient(left, #18BFD6 0, #204489 100%);
    background: -ms-linear-gradient(left, #18BFD6 0, #204489 100%);
    background: linear-gradient(to right, #18BFD6 0, #204489 100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
