// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#file-upload {
  display: none;
}

.invoice-file-upload-form {
  margin: 50px auto 0;
  width: 500px;
}

.invoice-file-input-label {
  display: block;
  margin: 0 auto;
  margin-top: 150px;
}

.invoice-file-upload-progress {
  display: none;
  margin: 20px auto 0;
}

.invoice-list {
  margin-top: 100px;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: #204489;
  opacity: 0.6;
}
