.inplace-edit-show {
  padding: 10px 10px 10px 5px;
  &:hover {
    background-color: gainsboro;
    cursor: pointer;
  }
}

.inplace-edit-input {
  display: none;
}

.inplace-edit-actions {
  display: none;
  margin-top: 20px;
}

.inplace-edit-cancel {
  width: 108px;
  margin-left: 20px;
}