.invoice-table-row:hover {
  cursor: pointer;
}

.pagination-per-page {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #999999;

  #per-page {
    margin: 5px;
  }
}

.invoice-details {
  margin-top: 60px;
}

.invoice-details-fieldset {
  margin-top: 50px;
}

.invoice-details-label {
  font-size: 20px;
  font-weight: bold;
  font-variant: small-caps;
}

.invoice-details-currency {
  width: 100px;
  display: inline-block;
  margin-right: 5px;
}

.expense-pager {
  text-align: left;
}